<div class="container">
    <div class="errors">
        {{#each errors}}
            <div class="alert alert-danger">{{ text }}</div>
        {{else}}
        {{/each}}
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{/if}}
    </div>
    <div class="flashmsg">
        {{#if success_msg}}
            <div class="alert alert-success">
                {{ success_msg }}
            </div>
        {{/if}}
        {{#if error_msg}}
            <div class="alert alert-success">
                {{ error_msg }}
            </div>
        {{/if}}
    </div>
</div>